#about h1 {
  display: block;
  clear: both;
  margin-bottom: 15px;
}
#about p {
  font: normal 12px Arial, Helvetica, Sans-serif;
  display: block;
  clear: both;
  width: 600px;
}
.post_votes {
  background: #dedede;
  text-align: center;
}
.post_votes h2 {
  font: bold 18px Arial, Helvetica, Sans-serif;
  padding: 5px;
}
.spacer td { background: #1a1a1a; }
