.block {
  display: block;
  overflow: hidden;
  position: relative;
}
#header {
  background: #383838;
  background: -moz-linear-gradient(top, #333333, #1a1a1a);
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#1a1a1a));
}
#header #wrapper {
  margin: 0px auto;
  width: 900px;
}
#header #wrapper #tectura {
  background: url('../images/tecturalogoHorizontal.png') no-repeat left top;
  float: left;
  height: 90px;
  text-indent: -10000px;
  width: 320px;
}
#header #wrapper form {
  clear: right;
  float: right;
  height: auto;
  margin-bottom: 15px;
  width: auto;
}
#header #wrapper form #search_box {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #ffffff;
  border: none;
  color: #4c4c4c;
  float: left;
  font-size: 1em;
  height: auto;
  margin: 10px 0px 0px 0px;
  padding: 5px;
  width: 250px;
}
#header #wrapper #nav-tags {
  background: #191919;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  clear: right;
  float: right;
  font-size: 1.2em;
  height: auto;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
#header #wrapper #nav-tags li {
  float: right;
  height: auto;
  margin: 10px 10px;
  width: auto;
}
#header #wrapper #nav-tags li a {
  color: #ffffff;
  height: auto;
  padding: 5px 7px;
  text-decoration: none;
  width: auto;
}
#header #wrapper #nav-tags li a:hover {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #fbcc3b;
  color: #383838;
}
#header #wrapper #nav-users {
  float: right;
  height: auto;
  width: auto;
}
#header #wrapper #nav-users li {
  float: left;
  height: auto;
  width: auto;
}
#header #wrapper #nav-users li a {
  color: #ffffff;
  float: left;
  font-size: 0.8em;
  height: auto;
  margin: 10px 0 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}
#header #wrapper #nav-users li a:hover { color: #fbcc3b; }
