<div id="bug_report"><h1>Informe um Erro</h1>
<p>Como o Tectura ainda está em versão beta, é possível encontrarmos alguns bugs.</p>
<p>Sempre que isso acontecer, envie um email para <a href="mailto:guilherme.silveira@caelum.com.br">guilherme.silveira@caelum.com.br</a>.</p>
<p>Por favor, informe o erro de forma mais detalhada possível, descrevendo os passos que você seguiu para encontrá-lo. Dessa maneira poderemos encontrar uma solução de maneira mais eficiente o mais rápido possível.</p>
<p>Muito obrigado por sua participação e colaboração!</p>
</div>